body, html, #main{
  margin:0;
  height:100vh;
  width:100vw;
}
#header{
  margin:0;
  height:30%;
  background-color:#82DED9;
}
#maincontainer{
  display:flex;
  height:70%;

}
#left_column{
  flex-grow: 1;
  background-color:#52A1C3;
}

#right_column{
  flex-grow: 2;
  background-color: #ffffff;
}
ul{
  lin
}