body, html, #main{
  margin:0;
  height:100vh;
  width:100vw;
  font-family: 'Roboto', sans-serif;
}
#header{
  margin:0;
  
  background-color:#82DED9;
}
#maincontainer{
  display:flex;
  height:70%;

}
#left_column{
  flex-grow: 1;
  background-color:#52A1C3;
  max-width:30%;
  display:flex;
  align-items: center;
  justify-content: center;
}
.css-typing p {
  margin:10px;
  color:#FFFFFF;
  border-right: .15em solid #FFFFFF;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type3 20s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 2s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}
#right_column{
  height:100%;
  flex-grow: 2;
  background-color: #ffffff;
}
.container{
  height:100%;
  display:flex;
  flex-direction: column;

}
.navbox{
  flex-grow: 1;
  font-size:30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
a{
  text-decoration: none;
  
}
a:hover{
font-size:40px;
}

.top{
  background-color:#FFFFFF;
  color:#82DED9;

}
.middle{
  background-color:#F1EFEF;
  color:#52A1C3;
}
.bot{
  background-color:#DADADA;
  color:#FFFFFF;
}