body, html{
    margin:0;
    text-align:center;
    font-family: 'Roboto', sans-serif;
  }
  .header{
    margin:0;
    height:100px;
    background-color:#82DED9;
  }
  ul{
    margin:0;
    list-style: none;
  }
  li{
    color:#FFFFFF;
    float:right;
    margin:10px;
    font-size:24px;
  }
  a{
    text-decoration: none;
    color:#52A1C3;
  }
  a:hover{
    color:#FFFFFF;
  }
  .link:hover{
    color:#DADADA;
  }
  p{
    margin:0;
  }
  .animation{
    height:230px;
    overflow:hidden;
    position:relative;
  }
  .pcontent {
    position:relative;
    width:100%;
    line-height:30px;
    text-align: center;
    animation:scroll-up 10s linear;
    animation-fill-mode: forwards;
  }
  
  @keyframes scroll-up {
    from {top: 200px;}
    to {top: 10px;}
  }
  .title{
    display: flex;
    flex-direction: column;
    height:100px;
    background-color: #F1EFEF;
    margin:0;
  }
  
  .title > h1{
    margin:25px;
    font-size:40px;
    color:#82DED9;
    
   
  }
  .subtitle {
    font-size:22px;
    color:#52A1C3;
  }
  
