body, html{
  margin:0;
  text-align:center;
  font-family: 'Roboto', sans-serif;
}
.header{
  margin:0;
  height:100px;
  background-color:#82DED9;
}
ul{
  margin:0;
  list-style: none;
}
li{
  color:#FFFFFF;
  float:right;
  margin:10px;
  font-size:24px;

}
a{
  text-decoration: none;
  color:#52A1C3;
}
a:hover{
  color:#FFFFFF;
}
p{
  margin:0;
}
/*scrolling animation*/
.animation
.content {
  position:absolute;
  width:100%;
  
  line-height:50px;
  text-align: center;
  -moz-transform:translateY(100%);
  -webkit-transform: translateY(100%);
  transform:translateY(100%);
  -moz-animation: scroll-up 5s linear infinite;
  -webkit-animation:scroll-up 5s linear infinite;
  animation:scroll-up 5s linear infinite;
}
@-moz-keyframes scroll-up {
  0%   { -moz-transform: translateY(100%); }
  100% { -moz-transform: translateY(-100%); }
 }
 @-webkit-keyframes scroll-up {
  0%   { -webkit-transform: translateY(100%); }
  100% { -webkit-transform: translateY(-100%); }
 }
 @keyframes scroll-up {
  0%   { 
  -moz-transform: translateY(100%); /* Browser bug fix */
  -webkit-transform: translateY(100%); /* Browser bug fix */
  transform: translateY(100%); 		
  }
  100% { 
  -moz-transform: translateY(-100%); /* Browser bug fix */
  -webkit-transform: translateY(-100%); /* Browser bug fix */
  transform: translateY(-100%); 
  }
 }

.title{
  display: flex;
  flex-direction: column;
  height:100px;
  background-color: #F1EFEF;
  margin:0;
}

.title > h1{
  margin:25px;
  font-size:40px;
  color:#82DED9;
  
}
/* color pallet css starts from here*/
.colorpallet{
  display:flex;
  flex-direction: column;
  height:400px;
}

.pallet{
flex-direction: column;
flex-grow: 1;
flex-wrap: wrap;

}

.pallet > p{
  display: none;
  margin:40px;
  
}
.pallet:hover > p{
  display: block;
}
.subtitle {
  font-size:22px;
  color:#52A1C3;
  font-weight: bold;
}

.typobox{
  display:flex;

}
#saria {
  font-family: 'Saira Semi Condensed', sans-serif;
  flex-grow: 1;
  
}
#roboto {
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
}
#iconbox {
  background-color: #82DED9;
}

#imgcontainer {
  display:flex;
  justify-content: center;
}
.imgcontainer > img {
  margin:20px;
}
#graphicbox {
  background-color:#52A1C3;
}