body, html{
  margin:0;
  text-align:center;
}
.title{
  font-size:30px;
  color:#82DED9;
}
.subtitle{
  color:#52A1C3;
}
#typobox{
  display:flex;

}
#saria {
  font-family: 'Saira Semi Condensed', sans-serif;
  flex-grow: 1;
  
}
#roboto {
  font-family: 'Roboto', sans-serif;
  flex-grow: 1;
}